// TABLE OF CONTENTS :
//
// 1. Fonts
// 2. Colors
// 3. General
// 4. Cover
// 5. About me
// 6. Works
// 7. Contact
// 8. Footer

/////////// FONTS ///////////

@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");

@font-face {
    font-family: 'Socicon';
    src: url('fonts/Socicon.eot');
    src: url('fonts/Socicon.eot#iefix') format('embedded-opentype'),
        url('fonts/Socicon.woff2') format('woff2'),
        url('fonts/Socicon.ttf') format('truetype'),
        url('fonts/Socicon.woff') format('woff'),
        url('fonts/Socicon.svg#Socicon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/////////// COLORS ///////////

:root {
    --dark: #222227;
    --color: #bf4c41;
    --light: #d7d3c7;
}

/////////// GENERAL ///////////

html {
    background: #fff;
    // background: var(--light);

    body {
        font-family: "Montserrat", sans-serif;
        color: var(--dark);
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-areas:
            "header"
            "content"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;

        header {
            grid-area: header;
            background-color: var(--dark);
            width: 100%;
            height: 8em;
            display: grid;
            grid-template-areas:
                "logo rs language";
            grid-template-columns: auto auto 15%;
            grid-template-rows: 100%;

            .logo {
                grid-area: logo;
                height: 6em;
                margin-top: 1em;
                margin-left: 10.75em;

                img {
                    height: 100%;
                }
            }

            .rs {
                grid-area: rs;
                position: absolute;
                top: 0;
                right: 0;
                margin-top: 1.1em;
                margin-right: 260px;

                ul {
                    margin: 0;
                    padding: 0;

                    a:link,
                    a:visited {
                        color: var(--dark);
                    }
                }

                li {
                    cursor: pointer;
                }

                .socicon {
                    font-family: "Socicon" !important;
                    speak: none;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;

                    position: relative;
                    top: 3px;
                    display: inline-block;
                    font-family: "socicon";
                    font-style: normal;
                    font-weight: normal;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    font-size: 1.2em;

                    margin: 5px;
                    padding: 10px;
                    width: 16px;
                    height: 16px;
                    font-size: 16px;
                    background-color: var(--light);
                    border-radius: 50%;
                }

                .socicon:hover {
                    color: #121b35;
                    background-color: var(--color);
                }
            }

            .language {
                grid-area: language;
                top: 0;
                right: 0;
                margin: 1.7em 11.2em 0 auto;

                p {
                    color: var(--light);
                    border: solid 1.5px var(--light);
                    border-radius: 50px;
                    padding: 6.5px;
                }

                p:hover {
                    color: var(--dark);
                    background-color: var(--light);
                }
            }
        }

        .content {
            grid-area: content;
            margin: 0 10em;

            .ariane {
                margin: 3em .75em;
                font-weight: 200;

                a {
                    text-decoration: none;
                    color: var(--dark);
                }
            }

            .title {
                grid-area: title;
                font-size: 2.5rem;
                text-align: center;
                margin: .8em auto 3em auto;

                h2 {
                    margin-bottom: 0;
                }

                .subtitle {
                    font-weight: 300;
                    font-size: 18px;
                    color: var(--color);
                    letter-spacing: 1px;
                }
            }

            .desc {
                margin: 0 1.4em 0 1.1em;

                img {
                    width: 100%;
                }
            }
        }

        footer {
            grid-area: footer;
            margin: 5em auto 3em auto;

            .copyright {
                text-align: center;
                font-size: .7rem;
                font-weight: 300;
                line-height: 1.1rem;
                text-transform: uppercase;
            }
        }
    }

}