@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
@font-face {
  font-family: 'Socicon';
  src: url("fonts/Socicon.eot");
  src: url("fonts/Socicon.eot#iefix") format("embedded-opentype"), url("fonts/Socicon.woff2") format("woff2"), url("fonts/Socicon.ttf") format("truetype"), url("fonts/Socicon.woff") format("woff"), url("fonts/Socicon.svg#Socicon") format("svg");
  font-weight: normal;
  font-style: normal;
}

:root {
  --dark: #222227;
  --color: #bf4c41;
  --light: #d7d3c7;
}

html {
  background: #fff;
}

html body {
  font-family: "Montserrat", sans-serif;
  color: var(--dark);
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "content" "footer";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
}

html body header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background-color: var(--dark);
  width: 100%;
  height: 8em;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "logo rs language";
  -ms-grid-columns: auto auto 15%;
      grid-template-columns: auto auto 15%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
}

html body header .logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  height: 6em;
  margin-top: 1em;
  margin-left: 10.75em;
}

html body header .logo img {
  height: 100%;
}

html body header .rs {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: rs;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1.1em;
  margin-right: 260px;
}

html body header .rs ul {
  margin: 0;
  padding: 0;
}

html body header .rs ul a:link,
html body header .rs ul a:visited {
  color: var(--dark);
}

html body header .rs li {
  cursor: pointer;
}

html body header .rs .socicon {
  font-family: "Socicon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  top: 3px;
  display: inline-block;
  font-family: "socicon";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-size: 1.2em;
  margin: 5px;
  padding: 10px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  background-color: var(--light);
  border-radius: 50%;
}

html body header .rs .socicon:hover {
  color: #121b35;
  background-color: var(--color);
}

html body header .language {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: language;
  top: 0;
  right: 0;
  margin: 1.7em 11.2em 0 auto;
}

html body header .language p {
  color: var(--light);
  border: solid 1.5px var(--light);
  border-radius: 50px;
  padding: 6.5px;
}

html body header .language p:hover {
  color: var(--dark);
  background-color: var(--light);
}

html body .content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
  margin: 0 10em;
}

html body .content .ariane {
  margin: 3em .75em;
  font-weight: 200;
}

html body .content .ariane a {
  text-decoration: none;
  color: var(--dark);
}

html body .content .title {
  grid-area: title;
  font-size: 2.5rem;
  text-align: center;
  margin: .8em auto 3em auto;
}

html body .content .title h2 {
  margin-bottom: 0;
}

html body .content .title .subtitle {
  font-weight: 300;
  font-size: 18px;
  color: var(--color);
  letter-spacing: 1px;
}

html body .content .desc {
  margin: 0 1.4em 0 1.1em;
}

html body .content .desc img {
  width: 100%;
}

html body footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  margin: 5em auto 3em auto;
}

html body footer .copyright {
  text-align: center;
  font-size: .7rem;
  font-weight: 300;
  line-height: 1.1rem;
  text-transform: uppercase;
}
/*# sourceMappingURL=main.css.map */